air/quasar_dev/NODE_RED_flow/node-red-flows-0220.json
[
    {
        "id": "99a4c9430f9c4eb3",
        "type": "tab",
        "label": "RELAY",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6451fcf3b062411",
        "type": "tab",
        "label": "Heater",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79dca771e4854082",
        "type": "tab",
        "label": "Air Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc538192a2ad3825",
        "type": "mqtt-broker",
        "name": "cloud",
        "broker": "ws://localhost:9500",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0e2b0c30cfa669e9",
        "type": "serial-port",
        "name": "Heater Com",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "10",
        "bin": "false",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "100"
    },
    {
        "id": "99e26626c4414039",
        "type": "serial-port",
        "name": "AirFlow 1",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "10",
        "bin": "bin",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "100"
    },
    {
        "id": "31817b6c346088dc",
        "type": "exec",
        "z": "99a4c9430f9c4eb3",
        "command": "usbrelay",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "2d5beab3741eac0a",
                "d71e40bfd56fa832"
            ],
            [],
            []
        ]
    },
    {
        "id": "445f14cc2dfd684c",
        "type": "inject",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "31817b6c346088dc"
            ]
        ]
    },
    {
        "id": "2d5beab3741eac0a",
        "type": "function",
        "z": "99a4c9430f9c4eb3",
        "name": "function 3",
        "func": "// Ensure msg.payload is a string\nlet payloadStr = msg.payload.toString().trim();\n\n// Split usbrelay output into lines\nlet lines = payloadStr.split(\"\\n\");\nlet messages = [];\n\n// Process each relay state line\nlines.forEach(line => {\n    let parts = line.split(\"=\"); // Split relay name and value\n    if (parts.length === 2) {\n        let relayName = parts[0].trim();\n        let relayValue = parseInt(parts[1].trim(), 10);\n\n        // Construct MQTT topic\n        let topic = `usbrelay/state/${relayName}`;\n\n        // Create MQTT message\n        messages.push({ topic: topic, payload: relayValue, qos: 0, retain: true });\n    }\n});\n\n// Return all messages to MQTT\nreturn [messages];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            [
                "da59541ba2463da1",
                "3d092f2e411a7b58"
            ]
        ]
    },
    {
        "id": "da59541ba2463da1",
        "type": "mqtt out",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc538192a2ad3825",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "f51eaa5f088b1962",
        "type": "function",
        "z": "99a4c9430f9c4eb3",
        "name": "function 4",
        "func": "let command = msg.payload.toLowerCase().trim();\nif (command === \"on\") {\n    msg.payload = \"usbrelay QAAMZ_1=1 QAAMZ_2=1 QAAMZ_3=1 QAAMZ_4=1\";\n} else if (command === \"off\") {\n    msg.payload = \"usbrelay QAAMZ_1=0 QAAMZ_2=0 QAAMZ_3=0 QAAMZ_4=0\";\n} else {\n    return null; // Ignore invalid commands\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 720,
        "wires": [
            [
                "69e193df2f45731c",
                "fea391ba68784ed7"
            ]
        ]
    },
    {
        "id": "69e193df2f45731c",
        "type": "exec",
        "z": "99a4c9430f9c4eb3",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 630,
        "y": 720,
        "wires": [
            [
                "7aeaf6597da3bc89"
            ],
            [],
            []
        ]
    },
    {
        "id": "7aeaf6597da3bc89",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 720,
        "wires": []
    },
    {
        "id": "f2ad2cabf9ad648a",
        "type": "inject",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 230,
        "y": 700,
        "wires": [
            [
                "f51eaa5f088b1962"
            ]
        ]
    },
    {
        "id": "567c5357a6482a87",
        "type": "inject",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 230,
        "y": 760,
        "wires": [
            [
                "f51eaa5f088b1962"
            ]
        ]
    },
    {
        "id": "7c428554f9a86fa3",
        "type": "mqtt in",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "topic": "usbrelay/control/all",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc538192a2ad3825",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 820,
        "wires": [
            [
                "f51eaa5f088b1962",
                "f50336dabfa618bd"
            ]
        ]
    },
    {
        "id": "f50336dabfa618bd",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 820,
        "wires": []
    },
    {
        "id": "eb6599c74d04d004",
        "type": "comment",
        "z": "99a4c9430f9c4eb3",
        "name": "update state 0.5 seconds",
        "info": "",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "6ba060bca7b0676e",
        "type": "function",
        "z": "99a4c9430f9c4eb3",
        "name": "function 5",
        "func": "let relay = msg.topic.split(\"/\").pop(); // Extract relay name from topic\nif (!relay) return null;\n\n// Get the current relay states\nlet relayState = flow.get(\"relayState\") || {};\n\n// Toggle the relay state\nlet newState = relayState[relay] === 1 ? 0 : 1;\n\n// Update stored state\nrelayState[relay] = newState;\nflow.set(\"relayState\", relayState);\n\n// Prepare command for Exec Node\nmsg.payload = `usbrelay ${relay}=${newState}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "7bb7d06b79e9dcc1",
                "b39055f5fb13e56b"
            ]
        ]
    },
    {
        "id": "5e1e52efa9649634",
        "type": "mqtt in",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "topic": "usbrelay/control/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc538192a2ad3825",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "6ba060bca7b0676e",
                "976bf840b357349a"
            ]
        ]
    },
    {
        "id": "7bb7d06b79e9dcc1",
        "type": "exec",
        "z": "99a4c9430f9c4eb3",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "b61d2a361775edd8"
            ],
            [],
            []
        ]
    },
    {
        "id": "b61d2a361775edd8",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "b39055f5fb13e56b",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "06cc3ecfb809244f",
        "type": "comment",
        "z": "99a4c9430f9c4eb3",
        "name": "usbrelay/control/QAAMZ_1  ==>  toggle",
        "info": "",
        "x": 270,
        "y": 260,
        "wires": []
    },
    {
        "id": "19ce8ae6529d4c8a",
        "type": "comment",
        "z": "99a4c9430f9c4eb3",
        "name": "usbrelay/control/all  ==> on & off",
        "info": "",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "d71e40bfd56fa832",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "3d092f2e411a7b58",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "fd5a81047935d14a",
        "type": "inject",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 480,
        "wires": [
            [
                "992af03ca2f24827"
            ]
        ]
    },
    {
        "id": "992af03ca2f24827",
        "type": "function",
        "z": "99a4c9430f9c4eb3",
        "name": "function 1",
        "func": "msg.topic = \"usbrelay/control/QAAMZ_1\"\nmsg.payload = \"toggle\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "6ba060bca7b0676e"
            ]
        ]
    },
    {
        "id": "976bf840b357349a",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "fea391ba68784ed7",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 640,
        "wires": []
    },
    {
        "id": "a061dcb3bd163555",
        "type": "function",
        "z": "99a4c9430f9c4eb3",
        "name": "FLOW AUTO1",
        "func": "// Function to send both relay command and test stage message\nconst sendCommand = (relayCommand, stageMessage) => {\n    const messages = [\n        { topic: \"usbrelay/command\", payload: relayCommand },\n        { topic: \"autotest/flow1/stage\", payload: stageMessage }\n    ];\n\n    // Debug log\n    // node.warn(`Sending Commands:\\nCommand: ${relayCommand}\\nStage: ${stageMessage}`);\n\n    node.send(messages); // Send both messages as an array\n};\n\n// Immediately send initial command: All off\nsendCommand(\"usbrelay QAAMZ_1=0 QAAMZ_2=0 QAAMZ_3=0 QAAMZ_4=0\", \"測試開始: 全部關閉\");\n\n// After 1 second, turn QAAMZ_2 on\nsetTimeout(() => {\n    sendCommand(\"usbrelay QAAMZ_2=1\", \"開啟全開2號\");\n\n    // After 6 seconds, turn QAAMZ_2 off\n    setTimeout(() => {\n        sendCommand(\"usbrelay QAAMZ_2=0\", \"關閉全開2號\");\n\n        // After 1 second, turn QAAMZ_3 on\n        setTimeout(() => {\n            sendCommand(\"usbrelay QAAMZ_3=1\", \"開啟左側3號\");\n\n            // After 6 seconds, turn QAAMZ_3 off\n            setTimeout(() => {\n                sendCommand(\"usbrelay QAAMZ_3=0\", \"關閉左側3號\");\n\n                // After 1 second, turn QAAMZ_1 on\n                setTimeout(() => {\n                    sendCommand(\"usbrelay QAAMZ_1=1\", \"開啟右側1號\");\n\n                    // After 6 seconds, reset all relays off\n                    setTimeout(() => {\n                        sendCommand(\"usbrelay QAAMZ_1=0 QAAMZ_2=0 QAAMZ_3=0 QAAMZ_4=0\", \"測試結束: 全部關閉\");\n                    }, 6000);\n\n                }, 1000);\n\n            }, 6000);\n\n        }, 1000);\n\n    }, 6000);\n\n}, 1000);\n\nreturn null;\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "38f28e510598bc98",
                "69e193df2f45731c"
            ],
            [
                "b1a9e35b5ef5151b",
                "fae7f514ab9770a7"
            ]
        ]
    },
    {
        "id": "3df8e9742d4a88ea",
        "type": "inject",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 1000,
        "wires": [
            [
                "a061dcb3bd163555"
            ]
        ]
    },
    {
        "id": "38f28e510598bc98",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1080,
        "wires": []
    },
    {
        "id": "302b18076f5b96cc",
        "type": "function",
        "z": "99a4c9430f9c4eb3",
        "name": "FLOW AUTO1",
        "func": "// Immediately send initial command: All off\nnode.send({ payload: \"usbrelay QAAMZ_1=0 QAAMZ_2=0 QAAMZ_3=0 QAAMZ_4=0\" });\n\n// After 1 second, turn QAAMZ_2 on\nsetTimeout(function () {\n    node.send({ payload: \"usbrelay QAAMZ_2=1\" });\n\n    // After 6 seconds, turn QAAMZ_2 off\n    setTimeout(function () {\n        node.send({ payload: \"usbrelay QAAMZ_2=0\" });\n\n        // After 1 second, turn QAAMZ_3 on\n        setTimeout(function () {\n            node.send({ payload: \"usbrelay QAAMZ_3=1\" });\n\n            // After 6 seconds, turn QAAMZ_3 off\n            setTimeout(function () {\n                node.send({ payload: \"usbrelay QAAMZ_3=0\" });\n\n                // After 1 second, turn QAAMZ_1 on\n                setTimeout(function () {\n                    node.send({ payload: \"usbrelay QAAMZ_1=1\" });\n\n                    // After 6 seconds, reset all relays off\n                    setTimeout(function () {\n                        node.send({ payload: \"usbrelay QAAMZ_1=0 QAAMZ_2=0 QAAMZ_3=0 QAAMZ_4=0\" });\n                    }, 6000);\n\n                }, 1000);\n\n            }, 6000);\n\n        }, 1000);\n\n    }, 6000);\n\n}, 1000);\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "fae7f514ab9770a7",
        "type": "mqtt out",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc538192a2ad3825",
        "x": 830,
        "y": 1220,
        "wires": []
    },
    {
        "id": "b1a9e35b5ef5151b",
        "type": "debug",
        "z": "99a4c9430f9c4eb3",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e6b86bd86396bd5f",
        "type": "mqtt in",
        "z": "99a4c9430f9c4eb3",
        "name": "",
        "topic": "autotest/flow1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc538192a2ad3825",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1100,
        "wires": [
            [
                "5c287cccf999a364"
            ]
        ]
    },
    {
        "id": "5c287cccf999a364",
        "type": "switch",
        "z": "99a4c9430f9c4eb3",
        "name": "start",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "a061dcb3bd163555"
            ],
            []
        ]
    },
    {
        "id": "e71abaf43e0eaf8e",
        "type": "serial request",
        "z": "e6451fcf3b062411",
        "name": "heater USB0",
        "serial": "0e2b0c30cfa669e9",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "4a583dd59e2b53bc"
            ]
        ]
    },
    {
        "id": "04b9c1a20ad4e573",
        "type": "debug",
        "z": "e6451fcf3b062411",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 60,
        "wires": []
    },
    {
        "id": "d19d3ba9de7ddc65",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "溫度1",
        "func": "// Function to calculate Modbus CRC16\nfunction calculateCRC(buffer) {\n    let crc = 0xFFFF;\n    for (let i = 0; i < buffer.length; i++) {\n        crc ^= buffer[i];\n        for (let j = 0; j < 8; j++) {\n            if (crc & 1) {\n                crc = (crc >> 1) ^ 0xA001;\n            } else {\n                crc >>= 1;\n            }\n        }\n    }\n    return Buffer.from([crc & 0xFF, (crc >> 8) & 0xFF]);\n}\n\n// Correct Modbus request for Temp1 (Device 1)\nlet payload = Buffer.from([0x02, 0x03, 0x00, 0x00, 0x00, 0x02]); // Read 2 registers from 0x0000\nlet crc = calculateCRC(payload);\nlet fullPayload = Buffer.concat([payload, crc]);\n\nmsg.payload = fullPayload;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "e71abaf43e0eaf8e"
            ]
        ]
    },
    {
        "id": "c8d60c30a0d7f5a0",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "75a0785355e7230a",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "function 2",
        "func": "let buffer = Buffer.from(msg.payload);\n\n// Check for minimum response length\nif (buffer.length >= 9) {\n    let tempBytes = buffer.slice(3, 7); // Extract 4 bytes of temperature\n    let rawTemp = tempBytes.readUInt32BE(0); // Read as big-endian (check Modbus spec)\n\n    let tempC = rawTemp / 10.0; // Convert raw value to Celsius\n    return { payload: { temp1: tempC } };\n} else {\n    return null;  // Ignore invalid responses\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 200,
        "wires": [
            [
                "a1734c67435da6ae"
            ]
        ]
    },
    {
        "id": "82a00b6d4be4addb",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "溫度2-4",
        "func": "// Function to calculate Modbus CRC16\nfunction calculateCRC(buffer) {\n    let crc = 0xFFFF;\n    for (let i = 0; i < buffer.length; i++) {\n        crc ^= buffer[i];\n        for (let j = 0; j < 8; j++) {\n            if (crc & 1) {\n                crc = (crc >> 1) ^ 0xA001;\n            } else {\n                crc >>= 1;\n            }\n        }\n    }\n    return Buffer.from([crc & 0xFF, (crc >> 8) & 0xFF]);\n}\n\n// Modbus request for Temp2-4 (Device 2)\nlet payload = Buffer.from([0x01, 0x03, 0x00, 0x28, 0x00, 0x03]); // Read 3 registers (2 bytes per temp)\nlet crc = calculateCRC(payload);\nlet fullPayload = Buffer.concat([payload, crc]);\n\nmsg.payload = fullPayload;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "57d3c3c917f15d6f"
            ]
        ]
    },
    {
        "id": "2174fddca41b0574",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "82a00b6d4be4addb",
                "d19d3ba9de7ddc65"
            ]
        ]
    },
    {
        "id": "26c43aad50f4a298",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "function 7",
        "func": "let buffer = Buffer.from(msg.payload);\nif (buffer.length >= 9) {  // Expected response length\n    let temp2 = buffer.readUInt16BE(3) / 10.0;\n    let temp3 = buffer.readUInt16BE(5) / 10.0;\n    let temp4 = buffer.readUInt16BE(7) / 10.0;\n\n    return { payload: { temp2: temp2, temp3: temp3, temp4: temp4 } };\n} else {\n    return null;  // Ignore invalid responses\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 320,
        "wires": [
            [
                "a1734c67435da6ae"
            ]
        ]
    },
    {
        "id": "57d3c3c917f15d6f",
        "type": "serial request",
        "z": "e6451fcf3b062411",
        "name": "heater USB0",
        "serial": "0e2b0c30cfa669e9",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "c662178f7c525ecc"
            ]
        ]
    },
    {
        "id": "a1734c67435da6ae",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "function 8",
        "func": "// Retrieve previous stored temperatures from Node-RED flow memory\nlet storedTemps = flow.get(\"temps\") || {};\n\n// Merge new data\nlet newData = msg.payload;\nlet mergedData = { ...storedTemps, ...newData };\n\n// Define an outlier threshold (adjustable)\nconst MAX_TEMP_THRESHOLD = 1000;  // If temp > 1000, it's considered an error\n\n// Collect valid temperatures (excluding outliers)\nlet validTemps = [];\nfor (let key in mergedData) {\n    if (mergedData[key] < MAX_TEMP_THRESHOLD) {\n        validTemps.push(mergedData[key]);\n    }\n}\n\n// Calculate average of valid temperatures\nlet avgTemp = validTemps.length > 0 ? validTemps.reduce((a, b) => a + b, 0) / validTemps.length : 0;\n\n// Replace outliers with average temperature and round to 2 decimal places\nfor (let key in mergedData) {\n    if (mergedData[key] >= MAX_TEMP_THRESHOLD) {\n        mergedData[key] = avgTemp;  // Replace outlier with average\n    }\n    mergedData[key] = Math.round(mergedData[key] * 100) / 100;  // Round to 2 decimal places\n}\n\n// Store the merged data in flow context\nflow.set(\"temps\", mergedData);\n\n// Always publish the latest temperature readings to MQTT\nreturn { payload: JSON.stringify(mergedData) };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "724b99064eade611",
                "3d88750af841e7d8",
                "5e241dd2bdfc3e7f"
            ]
        ]
    },
    {
        "id": "724b99064eade611",
        "type": "mqtt out",
        "z": "e6451fcf3b062411",
        "name": "",
        "topic": "heater/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc538192a2ad3825",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "a8a47398d354714b",
        "type": "comment",
        "z": "e6451fcf3b062411",
        "name": "{\"temp2\":26.1,\"temp3\":26.7,\"temp4\":26.7,\"temp1\":23.9}",
        "info": "",
        "x": 1160,
        "y": 360,
        "wires": []
    },
    {
        "id": "3d88750af841e7d8",
        "type": "delay",
        "z": "e6451fcf3b062411",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "04b9c1a20ad4e573"
            ]
        ]
    },
    {
        "id": "c0f646d00ac46afc",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "啟動",
        "func": "// Function to convert hex string to Buffer\nfunction hexToBuffer(hexString) {\n    return Buffer.from(hexString.replace(/\\s/g, \"\"), \"hex\");\n}\n\n// Heater initialization command\nlet initCommand = \"02 10 00 64 00 02 04 00 00 00 01 3A F0\";\n\n// Send initialization command\nmsg.payload = hexToBuffer(initCommand);\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 800,
        "wires": [
            [
                "3cd0c846b0b117b1"
            ]
        ]
    },
    {
        "id": "3cd0c846b0b117b1",
        "type": "serial request",
        "z": "e6451fcf3b062411",
        "name": "heater USB0",
        "serial": "0e2b0c30cfa669e9",
        "x": 1070,
        "y": 800,
        "wires": [
            [
                "5331c231c727b8af"
            ]
        ]
    },
    {
        "id": "2b22a0fdbd93d11b",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 680,
        "wires": [
            [
                "c0f646d00ac46afc"
            ]
        ]
    },
    {
        "id": "5331c231c727b8af",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "function 9",
        "func": "let buffer = Buffer.from(msg.payload);\nlet responseHex = buffer.toString(\"hex\").toUpperCase();\n\nif (buffer.length > 0) {\n    node.warn(\"Received Modbus Response: \" + responseHex);\n\n    // Check if the response matches the expected value\n    if (responseHex === \"0210006400020024\") {\n        msg.payload = \"啟動中\";  // \"Activating\" or \"Started\"\n    } else {\n        msg.payload = \"啟動異常\";  // \"Activation abnormal\" or \"Error\"\n    }\n\n    // Set the MQTT topic\n    msg.topic = \"heater/stage\";\n    return msg;\n} else {\n    node.warn(\"No response received.\");\n    return null;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 800,
        "wires": [
            [
                "f2ca419dc8eb3592"
            ]
        ]
    },
    {
        "id": "d3c503a808380ba8",
        "type": "debug",
        "z": "e6451fcf3b062411",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 440,
        "wires": []
    },
    {
        "id": "78a8e403493174b5",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "停止",
        "func": "// Function to convert hex string to Buffer\nfunction hexToBuffer(hexString) {\n    return Buffer.from(hexString.replace(/\\s/g, \"\"), \"hex\");\n}\n\n// Stop Modbus command\nlet stopCommand = \"02 10 00 6C 00 02 04 00 00 00 01 3B 56\";\n\n// Send stop command\nmsg.payload = hexToBuffer(stopCommand);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 940,
        "wires": [
            [
                "8cecb1ab35ba7f1d"
            ]
        ]
    },
    {
        "id": "b6301358d9b41f36",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 670,
        "y": 760,
        "wires": [
            [
                "78a8e403493174b5"
            ]
        ]
    },
    {
        "id": "8cecb1ab35ba7f1d",
        "type": "serial request",
        "z": "e6451fcf3b062411",
        "name": "heater USB0",
        "serial": "0e2b0c30cfa669e9",
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "eabe6814805c428c"
            ]
        ]
    },
    {
        "id": "eabe6814805c428c",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "function 11",
        "func": "let buffer = Buffer.from(msg.payload);\nlet responseHex = buffer.toString(\"hex\").toUpperCase();\n\nif (buffer.length > 0) {\n    node.warn(\"Received Modbus Response: \" + responseHex);\n\n    // Check if the response matches the expected value\n    if (responseHex === \"0210006C0002EFBFBDEFBFBD\") {\n        msg.payload = \"停止加熱\";  // \"Activating\" or \"Started\"\n    } else {\n        msg.payload = \"停止加熱指令異常\";  // \"Activation abnormal\" or \"Error\"\n    }\n\n    // Set the MQTT topic\n    msg.topic = \"heater/stage\";\n    return msg;\n} else {\n    node.warn(\"No response received.\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 940,
        "wires": [
            [
                "f2ca419dc8eb3592"
            ]
        ]
    },
    {
        "id": "264db58ecdee094e",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "加熱",
        "func": "// Function to convert hex string to Buffer\nfunction hexToBuffer(hexString) {\n    return Buffer.from(hexString.replace(/\\s/g, \"\"), \"hex\");\n}\n\n// Heater ON command (start heating)\nlet heaterOnCommand = \"02 10 00 6C 00 02 04 00 00 00 00 FA 96\";\n\n// Send heater ON command\nmsg.payload = hexToBuffer(heaterOnCommand);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 860,
        "wires": [
            [
                "835985602184a89b"
            ]
        ]
    },
    {
        "id": "ea8db4498e44a567",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 720,
        "wires": [
            [
                "264db58ecdee094e"
            ]
        ]
    },
    {
        "id": "5e241dd2bdfc3e7f",
        "type": "debug",
        "z": "e6451fcf3b062411",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 320,
        "wires": []
    },
    {
        "id": "835985602184a89b",
        "type": "serial request",
        "z": "e6451fcf3b062411",
        "name": "heater USB0",
        "serial": "0e2b0c30cfa669e9",
        "x": 1070,
        "y": 860,
        "wires": [
            [
                "426ea200b76e5e14"
            ]
        ]
    },
    {
        "id": "426ea200b76e5e14",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "function 10",
        "func": "let buffer = Buffer.from(msg.payload);\nlet responseHex = buffer.toString(\"hex\").toUpperCase();\n\nif (buffer.length > 0) {\n    node.warn(\"Received Modbus Response: \" + responseHex);\n\n    // Check if the response matches the expected value\n    if (responseHex === \"0210006C0002EFBFBDEFBFBD\") {\n        msg.payload = \"加熱中,持續20秒\";  // \"Activating\" or \"Started\"\n    } else {\n        msg.payload = \"加熱指令異常\";  // \"Activation abnormal\" or \"Error\"\n    }\n\n    // Set the MQTT topic\n    msg.topic = \"heater/stage\";\n    return msg;\n} else {\n    node.warn(\"No response received.\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 860,
        "wires": [
            [
                "f2ca419dc8eb3592"
            ]
        ]
    },
    {
        "id": "f2ca419dc8eb3592",
        "type": "mqtt out",
        "z": "e6451fcf3b062411",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc538192a2ad3825",
        "x": 1570,
        "y": 860,
        "wires": []
    },
    {
        "id": "4a583dd59e2b53bc",
        "type": "delay",
        "z": "e6451fcf3b062411",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "75a0785355e7230a"
            ]
        ]
    },
    {
        "id": "c662178f7c525ecc",
        "type": "delay",
        "z": "e6451fcf3b062411",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 320,
        "wires": [
            [
                "26c43aad50f4a298"
            ]
        ]
    },
    {
        "id": "28534556bff06726",
        "type": "switch",
        "z": "e6451fcf3b062411",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "init",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 650,
        "y": 880,
        "wires": [
            [
                "c0f646d00ac46afc"
            ],
            [
                "264db58ecdee094e"
            ],
            [
                "78a8e403493174b5"
            ],
            [
                "4e7d7a58d22c79a5"
            ],
            [
                "47ae0464df701955"
            ]
        ]
    },
    {
        "id": "25de38445a7dd987",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "init",
        "payloadType": "str",
        "x": 490,
        "y": 780,
        "wires": [
            [
                "28534556bff06726"
            ]
        ]
    },
    {
        "id": "6120162c8e84230e",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "heat",
        "payloadType": "str",
        "x": 490,
        "y": 860,
        "wires": [
            [
                "28534556bff06726"
            ]
        ]
    },
    {
        "id": "813f0da797593791",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 470,
        "y": 920,
        "wires": [
            [
                "28534556bff06726"
            ]
        ]
    },
    {
        "id": "4e7d7a58d22c79a5",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "開啟左右側氣道",
        "func": "// Define the relay command payload\nconst relayCommand = \"usbrelay QAAMZ_1=1 QAAMZ_3=1\";\n\n// Define the MQTT stage message\nconst mqttTopic = \"heater/stage\";\nconst mqttPayload = \"停止加熱,開啟左右側氣道20秒\";\n\n// Send both outputs\nreturn [\n    { payload: relayCommand }, // Output 1: Relay Command\n    { topic: mqttTopic, payload: mqttPayload } // Output 2: MQTT Message\n];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1180,
        "wires": [
            [
                "879615a83b3f4190",
                "1a5b57ca0e7e0fae"
            ],
            [
                "7c18e1f5083b828a",
                "4334314d855dd54d"
            ]
        ]
    },
    {
        "id": "a9ea60b9b790606c",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 1060,
        "wires": [
            [
                "4e7d7a58d22c79a5"
            ]
        ]
    },
    {
        "id": "879615a83b3f4190",
        "type": "debug",
        "z": "e6451fcf3b062411",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7c18e1f5083b828a",
        "type": "debug",
        "z": "e6451fcf3b062411",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1a5b57ca0e7e0fae",
        "type": "exec",
        "z": "e6451fcf3b062411",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1250,
        "y": 1160,
        "wires": [
            [
                "dcd8c4c4c7696f26"
            ],
            [],
            []
        ]
    },
    {
        "id": "dcd8c4c4c7696f26",
        "type": "debug",
        "z": "e6451fcf3b062411",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4334314d855dd54d",
        "type": "mqtt out",
        "z": "e6451fcf3b062411",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc538192a2ad3825",
        "x": 1310,
        "y": 1240,
        "wires": []
    },
    {
        "id": "47ae0464df701955",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "關閉左右側氣道",
        "func": "// Define the relay command payload\nconst relayCommand = \"usbrelay QAAMZ_1=0 QAAMZ_3=0\";\n\n// Define the MQTT stage message\nconst mqttTopic = \"heater/stage\";\nconst mqttPayload = \"關閉左右側氣道,測試結束\";\n\n// Send both outputs\nreturn [\n    { payload: relayCommand }, // Output 1: Relay Command\n    { topic: mqttTopic, payload: mqttPayload } // Output 2: MQTT Message\n];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1400,
        "wires": [
            [
                "a66edf9da1f11dc4",
                "1a5b57ca0e7e0fae"
            ],
            [
                "7fa337acebedd78e",
                "4334314d855dd54d"
            ]
        ]
    },
    {
        "id": "c38b4bc0b2310fe5",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 1280,
        "wires": [
            [
                "47ae0464df701955"
            ]
        ]
    },
    {
        "id": "a66edf9da1f11dc4",
        "type": "debug",
        "z": "e6451fcf3b062411",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1280,
        "wires": []
    },
    {
        "id": "7fa337acebedd78e",
        "type": "debug",
        "z": "e6451fcf3b062411",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4783b907ee516ac2",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "open",
        "payloadType": "str",
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "28534556bff06726"
            ]
        ]
    },
    {
        "id": "e621cb17fc104090",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "close",
        "payloadType": "str",
        "x": 470,
        "y": 1060,
        "wires": [
            [
                "28534556bff06726"
            ]
        ]
    },
    {
        "id": "f2c9d209eddc14c2",
        "type": "function",
        "z": "e6451fcf3b062411",
        "name": "function 12",
        "func": "var payloads = [\n    { payload: \"init\", delay: 500 },\n    { payload: \"heat\", delay: 20000 },\n    { payload: \"stop\", delay: 1000 },\n    { payload: \"open\", delay: 20000 },\n    { payload: \"close\", delay: 0 }\n];\n\nlet index = 0;\n\nfunction sendNext() {\n    if (index < payloads.length) {\n        let item = payloads[index++];\n\n        node.send({ payload: item.payload });\n\n        setTimeout(sendNext, item.delay);\n    }\n}\n\n// Start the process\nsendNext();\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            [
                "c25c264657938380",
                "28534556bff06726"
            ]
        ]
    },
    {
        "id": "77f0a2ee6707cfb1",
        "type": "inject",
        "z": "e6451fcf3b062411",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "f2c9d209eddc14c2"
            ]
        ]
    },
    {
        "id": "c25c264657938380",
        "type": "debug",
        "z": "e6451fcf3b062411",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "a346353674e22a5e",
        "type": "mqtt in",
        "z": "e6451fcf3b062411",
        "name": "",
        "topic": "autotest/heat1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fc538192a2ad3825",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "bafb13f47c9e3a5f"
            ]
        ]
    },
    {
        "id": "bafb13f47c9e3a5f",
        "type": "switch",
        "z": "e6451fcf3b062411",
        "name": "start",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "f2c9d209eddc14c2"
            ],
            []
        ]
    },
    {
        "id": "93e0e94a610f361f",
        "type": "serial request",
        "z": "79dca771e4854082",
        "name": "air Flow USB1",
        "serial": "99e26626c4414039",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "0db0554c25ff24a4",
                "3607a69354d6a5ae"
            ]
        ]
    },
    {
        "id": "4e491975414675b1",
        "type": "function",
        "z": "79dca771e4854082",
        "name": "flow request",
        "func": "// Function: Build and send a Modbus RTU request\n\n// CRC16 (Modbus) calculation function\nfunction calculateCRC(buffer) {\n    let crc = 0xFFFF;\n    for (let pos = 0; pos < buffer.length; pos++) {\n        crc ^= buffer[pos];\n        for (let i = 0; i < 8; i++) {\n            if (crc & 0x0001) {\n                crc = (crc >> 1) ^ 0xA001;\n            } else {\n                crc = crc >> 1;\n            }\n        }\n    }\n    return crc;\n}\n\n// Define Modbus parameters\nconst slaveId = 0x01;           // Modbus slave ID\nconst functionCode = 0x03;      // Read Holding Registers\nconst startRegister = 0x0000;   // Starting register address\nconst registerCount = 3;        // Number of registers to read\n\n// Create a Buffer for Slave ID (1), Function Code (1), Start Register (2), and Count (2)\nlet reqBuf = Buffer.alloc(6);\nreqBuf.writeUInt8(slaveId, 0);\nreqBuf.writeUInt8(functionCode, 1);\nreqBuf.writeUInt16BE(startRegister, 2);\nreqBuf.writeUInt16BE(registerCount, 4);\n\n// Calculate the CRC and append (CRC is 2 bytes, little-endian)\nconst crc = calculateCRC(reqBuf);\nlet crcBuf = Buffer.alloc(2);\ncrcBuf.writeUInt16LE(crc, 0);\n\n// Combine the request buffer and the CRC buffer\nconst packet = Buffer.concat([reqBuf, crcBuf]);\n\n// Set the packet as the payload to be sent out via the serial out node\nmsg.payload = packet;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "93e0e94a610f361f"
            ]
        ]
    },
    {
        "id": "dcfda606aa6f139a",
        "type": "inject",
        "z": "79dca771e4854082",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "4e491975414675b1"
            ]
        ]
    },
    {
        "id": "fbf56cc3dba03be5",
        "type": "debug",
        "z": "79dca771e4854082",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "0db0554c25ff24a4",
        "type": "debug",
        "z": "79dca771e4854082",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "3607a69354d6a5ae",
        "type": "function",
        "z": "79dca771e4854082",
        "name": "function 6",
        "func": "// Function: Process the Modbus RTU response\n\n// CRC16 (Modbus) calculation function\nfunction calculateCRC(buffer) {\n    let crc = 0xFFFF;\n    for (let pos = 0; pos < buffer.length; pos++) {\n        crc ^= buffer[pos];\n        for (let i = 0; i < 8; i++) {\n            if (crc & 0x0001) {\n                crc = (crc >> 1) ^ 0xA001;\n            } else {\n                crc = crc >> 1;\n            }\n        }\n    }\n    return crc;\n}\n\n// If msg.payload is a string, convert it to a Buffer.\nlet buf = msg.payload;\nif (typeof buf === \"string\") {\n    buf = Buffer.from(buf, \"binary\");\n}\n\n// Ensure the response is long enough (minimum expected length: address(1) + function(1) + byte count(1) + data (2 bytes * count) + CRC(2))\nif (buf.length < 7) {\n    node.error(\"Incomplete response.\", msg);\n    return null;\n}\n\n// The third byte holds the number of data bytes returned.\nconst byteCount = buf[2];\n\n// Check if the full message is present: header + data bytes + CRC\nif (buf.length < 3 + byteCount + 2) {\n    node.error(\"Incomplete response data.\", msg);\n    return null;\n}\n\n// Extract the data portion and the received CRC\nconst dataBuf = buf.slice(3, 3 + byteCount);\nconst receivedCrc = buf.readUInt16LE(buf.length - 2);\n\n// Calculate the CRC on all bytes except the last two (the CRC itself)\nconst calculatedCrc = calculateCRC(buf.slice(0, buf.length - 2));\n\nif (calculatedCrc !== receivedCrc) {\n    node.error(\n        \"CRC mismatch. Calculated: \" +\n        calculatedCrc.toString(16) +\n        \", Received: \" +\n        receivedCrc.toString(16),\n        msg\n    );\n    return null;\n}\n\n// Decode registers: each register is 2 bytes in big-endian order.\nlet registers = [];\nfor (let i = 0; i < dataBuf.length; i += 2) {\n    registers.push(dataBuf.readUInt16BE(i));\n}\n\nif (registers.length < 3) {\n    node.error(\"Not enough registers returned.\", msg);\n    return null;\n}\n\n// Interpret the registers:\n// - First register: instantaneous flow (divide by 10 for scaling)\n// - Next two registers: cumulative flow (combine high and low registers, then scale)\nconst instantaneous_flow = registers[0] / 10.0;\nconst cumulative_flow = ((registers[1] << 16) | registers[2]) / 10.0;\n\n// Output a JSON object with the decoded values\nmsg.payload = {\n    instantaneous_flow: instantaneous_flow,\n    cumulative_flow: cumulative_flow\n};\n\n// Convert to string explicitly if desired\nmsg.payload = JSON.stringify(msg.payload);\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "b1c6c9077638a712",
                "90655a9a094c6db0"
            ]
        ]
    },
    {
        "id": "90655a9a094c6db0",
        "type": "mqtt out",
        "z": "79dca771e4854082",
        "name": "",
        "topic": "air/flow",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc538192a2ad3825",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "b1c6c9077638a712",
        "type": "delay",
        "z": "79dca771e4854082",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "fbf56cc3dba03be5"
            ]
        ]
    },
    {
        "id": "9b05f6dc030f4ddc",
        "type": "debug",
        "z": "79dca771e4854082",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 560,
        "wires": []
    },
    {
        "id": "catch1",
        "type": "catch",
        "z": "79dca771e4854082",
        "name": "Catch Any Error",
        "scope": null,
        "uncaught": false,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "func1"
            ]
        ]
    },
    {
        "id": "func1",
        "type": "function",
        "z": "79dca771e4854082",
        "name": "Increment Error Count",
        "func": "// Retrieve the current error count from node context (initialize to 0 if not set)\nlet errorCount = context.get(\"errorCount\") || 0;\n\n// Increment the error count\nerrorCount++;\n\n// Store the updated count in context\ncontext.set(\"errorCount\", errorCount);\n\n// Prepare the MQTT message\nmsg.topic = \"error/count\";\nmsg.payload = errorCount;\n\n// Set the filename for the file out node (adjust the path as needed)\nmsg.filename = \"./error_count.txt\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 680,
        "wires": [
            [
                "mqtt1",
                "file1",
                "9b05f6dc030f4ddc"
            ]
        ]
    },
    {
        "id": "mqtt1",
        "type": "mqtt out",
        "z": "79dca771e4854082",
        "name": "Publish Error Count",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc538192a2ad3825",
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "file1",
        "type": "file",
        "z": "79dca771e4854082",
        "name": "Store Error Count",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": true,
        "encoding": "utf8",
        "x": 750,
        "y": 720,
        "wires": [
            []
        ]
    }
]